<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" /> 
    </head>

    <body>

        <header class="navbar">
            <div >
                Logo
            </div>
            <div >
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="url" type="text" name="input" value="" placeholder="Enter url">
                    <div id="validUrl">Enter a valid URL</div>

                    <input class="btn btn-outline-dark" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section class="result">
                <strong>Form Results:</strong>
                <div id="results">

                <div id="model"></div>
                <div id="confidence"></div>
                <div id="subjectivity"></div>
                <div id="irony"></div>

                </div>
            </section>
        </main>

        <footer class="footer">
            <p>Footer</p>
        </footer>

        <script>
            //Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>

    </body>
</html>

